@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


:root {


    /*
    colors 
    */

    --color1:#EBE3F5;
    --color2:#FEFEFF;
    --color3:#D6CFFF;
    --color4:#ABA0F9;
    --color5:#7C80FC;
    --color6:#FFEBD8;
    --color7:#FFD5BA;
    --color8:#211A44;
    --color9:#5D0D6E;

    /*
    typographie 
    */

    /*
    font-size 
    */

    --fs1: 32px;
    --fs2: 26px;
    --fs3: 22px;
    --fs4: 18px;
    --fs5: 15px;
    --fs6: 14px;

    /*
    transition 
    */

    --transition: 0.25s ease-in-out; 

}


/*  RESET */

*, *::before, *::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

li { list-style: none; }

a { text-decoration: none; }

a,
img,
button,
ion-icon,
label,
input,
textarea {
    display: block;
}


button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

textarea, 
input {
    font: inherit;
    background: none;
    border: none;
    width: 100%;
}


:is(input, textarea):focus{ outline: none; }
:focus { outline-offset: 4px;}




html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--color2);
    overflow: hidden;
}

::-webkit-scrollbar { width: 2  0px;}
::-webkit-scrollbar-track { background: var(--color2); }
::-webkit-scrollbar-thumb { background: var(--color6);}

/*
    stylisation */

    .container { padding: 0 15px; }
    h1,
    h2,
    h3 {
        font-weight: 800;
        line-height: 1.3;
        text-transform: capitalize  ;
    }

    h1 {
        color:var(--color8);
        font-size: var(--fs1);
    }

    h2 {
        font-size: var(--fs2);
    }

    h3 {
        color:var(--color8);
        font-size: var(--fs3);
    }

    h4 {
        color:var(--color9) ;
        font-size: var(--fs5);
        font-weight: 800;
    }

    .btn {
        font-size: var(--fs6);
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px 40px ;
        border: 1px solid;
        border-radius: 6px;
    }

    .btn-primary {
        background: var(--color9) ;
        border-color: var(--color9) ;
        color: var(--color2);
    }

    .btn-primary:is(:hover, :focus) { --color9: hsl(2, 90%, 60%)}
    .btn-secondary:is(:hover :focus) {background: hsla(0, 0%, 100%, 0.1)}

/* Header */

header {
    position: relative;
    padding: 35px 0;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu-btn {
    font-size: 30px;
    padding: 5px;

}

.navbar {
    position: absolute;
    top: calc(100% - 15px);
    left: 15px;
    right: 15px;
    background: var(--color1);
    max-height: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    transform-origin: top;
    overflow: hidden;
}

.navbar.active {
    visibility: visible;
    pointer-events: all;
    max-height: 280px;
}

.navbar-list  { padding: 10px;}

.nav-item:not(:last-child){
    border-bottom: 1px solid var(--color3)
}

.nav-link {
    font-size: var(--fs6);
    color: black;
    font-weight: 800;
    padding: 15px 10px;
    opacity: 0;
    transition: opacity var(--transition);
}

.nav-link:is(:hover, :focus) { background: var(--color1); }

.navbar.active  .nav-link{
    transition-delay: 0.2s;
    opacity: 1 ;
}

.navbar .btn-primary { display: none; }





/*hero*/


.hero {
    position: relative;
    padding: 130px 0 140px;
    z-index: 1;
}

.hero-content {
    text-align: center;
}

.hero-title,
.hero-text {
    margin-bottom: 40px;
}

.hero-text {
    font-size: var(--fs4);
    color: var(--color8);

}

.hero .btn-primary {
    margin-inline: auto;
}

.hero-banner {
    display: none;
}

.shape-content {
    position: absolute;
    width: 900px;
    top: -230px;
    right: -300px;
    z-index: -1;
}



/* 
About*
*/


.about {
    position: relative;
    z-index: 1;
    background: url("C:/Users/DELL%202/Desktop/test1/assets/images/abstract1.png") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    text-align: center;
}

.about-top {
    margin-bottom: 120px;
}

.about .h2 { color: white;}
.about-top .section-title {
    margin-bottom: 20px;
}

.about-top .section-text {
    color: white;
    font-size: var(--fs4);
    margin-bottom: 60px;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.about-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.card-icon {
    color: var(--color9);
    font-size: 45px;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 15px;
}

.about-card .card-title { margin-bottom: 15px;}

.about-card .card-text { color: var(--color4);}

.about-bottom-banner {  margin-bottom: 120px;}
.about-bottom-banner img {
    width: 100%;
    height: 100%;

}

.about-bottom .section-title {margin-bottom: 20px;}
.about-bottom .section-text { 
    color: var(--color2);
    font-size: var(--fs4);
    margin-bottom: 40px;
}

.about-bottom .btn-secondary {
    color: var(--color2);
    margin-inline: auto;
}

/*
 features 
*/

.features {
     padding: 120px 0;
     text-align: center;

}

.features .section-title {
    color: var(--color9);
    margin-bottom: 20px;

}

.features .section-text {
    color: var(--color8);
    font-size: var(--fs4);
    margin-bottom: 120px;

}

.features-item:first-child { margin-bottom: 100px;}

.features-item-banner {
    max-width:350px;
    margin-inline: auto;
    margin-bottom: 60px;
}

.features-item-banner img { width: 100%;}

.features-item .item-title { 
    color: var(--color8);
    margin-bottom: 20px;

}

.features-item .item-text {
    color: black;
    font-size: var(--fs4);
}

/*  cta */

.cta {
    padding: 120px 0;
}

.cta-card {
    background: linear-gradient(to top, var(--color8) 0, var(--color9) 0 );
    padding: 80px 36px;
    border-radius: 20px;
    text-align: center;
}

.cta-title {
    color: var(--color1);
    font-size: var(--fs1);
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 20px;

}

.cta-text {
    color: var(--color1);
    font-size: var(--fs6);
    margin-bottom: 50px;

}

.cta input {
    color: var(--color2);
padding: 10px 15px;
border-bottom: 1px solid ;

margin-bottom: 30px ;
}*

.cta input::placeholder {color: inherit;}

.cta .btn-secondary {
    color: var(--color2);
    margin-inline: auto ;
    
}

/* contact */
.contact {
    margin-bottom: 120px;
}

.contact-content { margin-bottom: 50px;}

.contact-title { 
    color: var(--color8);
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800 !important;
}

.contact-banner img{
    width: 100%;
}

.input-wrapper {
     margin-bottom: 30px;
}

.input-label {
    color: var(--color9);
    font-size: var(--fs6);
    font-weight: 800;
    margin-bottom: 10px;
}

.input-field {
    border-bottom: 1px solid var(--color5);
    padding: 7px 0;
    font-size: var(--fs6);
}

.input-field::placeholder{ color: var(--color4);}

textarea {
    max-height:300px ;
    min-height: 100px;
    height: 100px;
    resize: vertical;

}


/* footer*/

 footer { background: url("C:/Users/DELL%202/Desktop/test1/assets/images/abstract5.jpg");}

 .footer-top {
    padding: 80px 0 50px ;
 }

 .footer-brand { margin-bottom: 20px;}

 footer .logo {margin-bottom: 30px ;}

 .footer-text {
    color: var(--color2);
    font-size: var(--fs6);
    margin-bottom: 20px;
 }

 .social-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

 }

 .social-link {
    color: azure;
    font-size: var(--fs4);
    margin-bottom: 10px;
 }

 .social-link:is(:hover, :focus) {color: black;}

 .footer-link-list:not(:last-child) {
    margin-bottom: 30px;
 }

.footer-link-list .link-title {
    margin-bottom: 15px;
}

.footer-link {
    color: var(--color2);
    font-size: var(--fs6);
    margin-bottom: 10px;
    max-width: 150px;
}

.footer-link:is(:hover, :focus) {color: black;}

.footer-bottom {
    padding: 20px 15px ;
    border-top: 1px solid hsla(0, 0%, 10%, 0.2) ;
}

.copywright {
    color: azure;
    text-align: center;
    font-size: var(--fs6);
}

.copywright a{
    display: inline-block;
    color:azure;
}

.copywright a:is(:hover, :focus) { color: var(--color5 );}


.go-top {
        position:fixed;
        bottom: 30px;
        right: 30px;
        z-index: 5;
        width: 50px;
        height: 50px;
        background: linear-gradient(-45deg, var(--color5), var(--color1));
        box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
        display: grid;
        place-items: center;
        border-radius: 50%;
        color: var(--color1);
        font-size: 22px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: var(--transition);
}

.go-top.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;


}




/* responsive 450px */

@media (min-width :450px) {

    :root {
        --fs1: 60px;
    }

    .h1,
    .h2 { font-weight: 900;}
    

    .btn { padding-block: 15px;}

    .navbar {
        left: auto;
        width: 300px;
    }


    .hero { padding: 140px  160px;}
    .shape-content{
        top: -70px;
        right: -260px;
    }

    .about-card .card-title { padding-inline: 40px;}

    .about-bottom-banner {
        max-width: 400px;
        margin-inline: auto;
        margin-bottom: 40px;

    }

    .about-bottom-content { padding-inline: 50px;}


    .features .h2 { --fs2: 32px;}

    .cta-form {
        display:flex;
        justify-content:center;
        align-items: flex-end;
        gap: 30px;
    }

    .cta input { margin-bottom: 0;}
     .cta .btn-secondary { min-width: max-content;}

     .contact-title { --fs2: 32px;}

     .contact-banner {
        max-width: 300px;
        margin-inline: auto;
     }





}

/* responsive 560px */

@media (min-width :560px) {

   .container{
    max-width: 550px;
    margin-inline: auto;

   }

   .navbar-wrapper { position: relative;}

   .navbar {
    top:  calc(100% + 15px );
    right: 0;
   }



   .hero-content,
   .about-bottom-content { text-align: left;}

   .hero .btn-primary,
   .about-bottom .btn-secondary { margin-inline: 0;}
   
   .shape-content {
    top: -156px;
    right: -152px;

   }



   .footer-brand { margin-bottom: 40px;}

   .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr ;
   }

}

@media (min-width: 768px) {


    :root{

        --fs2: 35px;
        --fs4: 20px;
    }

    .container { max-width: 740px;}

    .about-list { grid-template-columns:  1fr 1fr;}

    .about-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .about-card .card-title { padding-inline:  0;}

    .contact-title { --fs2: 42px;}
}


@media (min-width: 1024px) {
    .container  { max-width: 950px;}


    .navbar-menu-btn {display: none;}

    .navbar {
        max-height: unset;
        visibility: visible;
        position: static;
        width: auto;
        background: none;
        pointer-events: all;
        overflow: visible; 
        display: flex;
   }
   .navbar-list {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 20px;
   }

   .nav-link{
    opacity: 1;
    padding: 0 10px;
   }

   .navbar .btn-primary {
        display: block ;
   }


   .hero-content { max-width: 550px;}

    .hero-banner {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 500px;
        padding-top: 500px;
        background: url("C:/Users/DELL%202/Desktop/test1/assets/images/b3.jpg") no-repeat;
        background-size: contain;
        z-index: -2;
    }

    .about-top .section-text{
        max-width: 650px;
        margin-inline: auto; 
    }
    
    .about-list { grid-template-columns: repeat(3, 1fr);}

    .about-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    
    .about-bottom-banner {
        margin-bottom: 0;
        height: 330px;
    }

    .about-bottom-content {
        padding-inline: 0;
        width: 50px;
    }

    .features :is(.section-title, .section-text ) {
        max-width: 650px;
        align-items: center;
        gap: 50px;

    }

    .features-item-banner {
            margin-inline: 0;
            margin-bottom: 0; 
    }

    .features-item-content {
        width: 50%;
        text-align: left;

    }

    .features-item:last-child { flex-direction: row-reverse;}


    .cta-card > * {
        max-width: 500px;
        margin-inline: auto;

    }

    
    .contact .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

    }

    .contact-content {
        max-width: 400px ;
    }

    .contact-title {
        text-align: left;
    }

    .contact-form { width: 50%;}

    .footer-top .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .footer-brand, 
    .footer-link-list:not(:last-child) {
        margin-bottom:0 ;
    }

    .footer-link-box {
        grid-template-columns: repeat(0, 1fr );
        gap: 50px;

    }
}


@media (min-width:1200px) {
    :root {
        --fs2: 42px;
    }

    .container { max-width: 1150px;}

    .hero-banner { right: 100px;}


    .about-bottom-banner { height: 400px;}

    .features .h2 { --fs2: 42px;}
    .features :is(.section-text, .section-title) { max-width: 850px;}


}